<div class="ingredient-fields mt-3">
  <%= f.label :name, "食材1" %>
  <%= f.text_field :name %>

  <%= f.label :quantity, "用量1",class: "ml-3" %>
  <%= f.text_field :quantity,class: "mr-3" %>


  <%= link_to '削除', '#',"data-confirm"=>"本当に削除しますか？", class: 'remove-ingredient btn btn-danger' %>
</div>