<div class="nested-fields">
  <%= f.label :name, "材料名" %>
  <%= f.text_field :name %>

  <%= f.label :quantity, "用量",class: "ml-5 mb-3" %>
  <%= f.text_field :quantity %>

  <%= link_to_remove_association "削除", f,class: "btn btn-danger" %>
</div>