<div class="text-center">
  <h2 class="title">CookPlanへようこそ！</h2>

  <div class="about mx-auto">
    <p>楽しく料理して共有しませんか？</p>
    <p>材料の意外な使い方が見つかるかも？</p>
  </div>

  <%= month_calendar do |date| %>
  <%= date.day %>
  <br>
  <% unless Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count == 0 %>
    <%= link_to daily_recipes_path(date: date) do %>
    投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
    <% end %>
  <% else %>
    投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
  <% end %>
<% end %>
</div>