<div class="text-center">
  <h2 class="title test1">CookPlanへようこそ！</h2>

  <div class="about mx-auto">
    <p>楽しく料理して共有しませんか？</p>
    <p>材料の意外な使い方が見つかるかも？</p>
  </div>
</div>

<table class="table table-hover">
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_image(100,100) %>
        <% end %>
      </td>
      <td><%= link_to recipe.title,recipe_path(recipe.id) %></td>
      <td>お気に入り数<%= recipe.favorites.count %>件</td>
    </tr>
  <% end %>
  <%= paginate @recipes %>
</table>

<h2 class="about mx-auto text-center">
  日替わりで探す
</h2>
<div class="text-center">
  <%= month_calendar do |date| %>
    <%= date.day %>
    <br>
    <!--投稿数が0のものはリンクにしない-->
    <% unless Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count == 0 %>
      <%= link_to daily_recipes_path(date: date) do %>
      <!--作成日がその日の始まりから終わりまでの範囲のデータを取得-->
      投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
      <% end %>
    <% else %>
      投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
    <% end %>
  <% end %>
</div>

