<div class="flash-alert text-center">
  <%= flash[:alert] %>
</div>

  <div class="row">
    <div class="col-12 mx-auto text-center">
      <h3 class="title">新規登録</h3>

      <div class="under">
        <p>レシピを登録します。</p>
        <p>食材、用量、調理手順を入力し[新規登録]をクリックしてください。</p>
        <p>食材や調理手順を追加したい場合は[食材を追加]、[手順を追加]をクリックしてください。</p>
      </div>

      <%= form_with model: @recipe do |f| %>

      <div>
        <%= f.file_field :image,accept: "image/*" %>
      </div>

      <div>
        <%= f.label :introduction,"料理紹介",class: "title2 mt-5", style: "font-size: 20px;" %>
        <%= f.text_area :introduction,rows: 3,class: "introduction form-control mx-auto mb-5" %>
      </div>

      <div>
        <%= f.label :title, "レシピ名" %>
        <%= f.text_field :title %>
      </div>

      <div id="ingredients">
        <%= link_to_add_association '材料の追加', f, :ingredients,
          data: { association_insertion_method: 'append'}, class: "btn btn-primary my-3" %>
        <%= f.fields_for :ingredients do |i| %>
          <div class="nested-fields">
            <%= i.label :name, "材料名" %>
            <%= i.text_field :name %>

            <%= i.label :quantity, "用量",class: "ml-5 mb-3" %>
            <%= i.text_field :quantity %>

            <%= link_to_remove_association "削除", i,class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>

      <div id="steps">
       <%= link_to_add_association '手順の追加', f, :steps,
         data: { association_insertion_method: 'append' }, class: "btn btn-primary my-3" %>
       <%= f.fields_for :steps do |s| %>]
          <div class="nested-fields">

            <%= s.label :text, "手順",class: "ml-5 mb-3" %>
            <%= s.text_field :text %>

            <%= link_to_remove_association "削除", s,class: "btn btn-danger" %>
          </div>
       <% end %>
      </div>

      <%= f.submit "作成する",class: "my-5" %>
      <% end %>

    </div>
  </div>
