<table class="table">
  <% if @range == "料理名" %>
    <h3>「<%= @word %>」を含む料理名</h3>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.get_image(100,100) %>
          <% end %>
        </td>
        <td><%= link_to recipe.title,recipe_path(recipe.id) %></td>
      </tr>
    <% end %>
  <% else %>
    <h3>材料「<%= @word %>」を含むレシピ</h3>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <%= link_to recipe_path(ingredient.recipe.id) do %>
            <%= image_tag ingredient.recipe.get_image(100,100) %>
          <% end %>
          </td>
        <td><%= link_to ingredient.recipe.title,recipe_path(ingredient.recipe.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>