<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="text-center">
        <%= image_tag @recipe.get_image(200,200) %>
      </div>

      <h3 class="title text-center">
        <%= @recipe.title %>
        <% if user_signed_in? %>
          <% if @recipe.user == current_user %>
            <%= link_to "レシピを編集",edit_recipe_path(@recipe),class: "btn btn-secondary" %>
          <% else %>
            <% if @recipe.favorited_by?(current_user) %>
              <%= link_to "お気に入り解除",recipe_favorites_path(@recipe),method: :delete,class: "btn btn-danger" %>
            <% else %>
              <%= link_to "お気に入り登録",recipe_favorites_path(@recipe),method: :post,class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </h3>

      <div class="text-right mb-3">
        作成者:<%= link_to @recipe.user.name,user_path(@recipe.user) %>
        <%= image_tag @recipe.user.get_profile_image(100,100) %>
      </div>
      <div class="introduction2-container">
        <div class="title3 mx-auto mb-5 text-center">
          <%= @recipe.introduction %>
        </div>
      </div>

      <table class="table">
        <tr>
          <th>材料</th>
          <th style="text-align: right;">用量</th>
        </tr>
      <% @recipe.ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td style="text-align: right;"><%= ingredient.quantity %></td>
        </tr>
      <% end %>
      </table>

      <h3 class="title3 mx-auto my-5 text-center">
        料理手順
      </h3>
      <table class="table">
        <% @recipe.steps.each_with_index do |step,index| %>
        <tr>
          <td>
            <span style="color: red; font-weight: bold;"><%= index + 1 %></span>：<%= step.text %>
          </td>
          <td>
            <%= image_tag step.get_cook_image(100,100) %>
          </td>
        </tr>
        <% end %>
      </table>

      <!--users_helperに定義-->
      <% if recipe_user?(current_user) %>
        <%= link_to "削除する",recipe_path(@recipe),method: :delete,"data-confirm"=>"レシピを削除しますか？",class: "btn btn-danger" %>
      <% end %>

    </div>
  </div>
</div>