<div style="background-color: #ffff99; margin-bottom: 0; padding-bottom: 0;">
  <h4 class="text-center" style="margin: 0;">自己紹介</h4>
</div>
<div class="bg-white text-center" style="margin-top: 0; padding-top: 0;">
  <%= @user.introduction %>
</div>

<div style="background-color: #ffff99; margin-bottom: 0; padding-bottom: 0; overflow: hidden;">
  <h3 class="text-center">最近のレシピ</h3>
</div>

<%= month_calendar do |date| %>
  <%= date.day %>
  <br>
  <% unless Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count == 0 %>
    <%= link_to daily_recipes_path(date: date) do %>
    投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
    <% end %>
  <% else %>
    投稿件数: <%= Recipe.where(created_at: date.beginning_of_day..date.end_of_day).count %>
  <% end %>
<% end %>