<div class="container">
  <div class="row">
    <% unless @user == current_user %>
     <div style="width: 50px; height: 50px;">
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
     </div>
    <% end %>
    <div class="col-md-8 mx-auto">
      <h4 class="text-center title"><%= @user.name %>さんのキッチン</h4>

      <div class="tabs">
        <ul class="nav nav-tabs d-flex justify-content-between">
          <li class="nav-item">
            <%= link_to "トップ", "#section1", class: "nav-link active", data: { toggle: "tab" } %>
          </li>
          <li class="nav-item">
            <%= link_to "レシピ","#section2", class: "nav-link", data: { toggle: "tab" } %>
          </li>
          <li class="nav-item">
            <%= link_to "お気に入りレシピ","#section4",class: "nav-link", data: { toggle: "tab" } %>
          </li>
          <% if @user == current_user %>
          <li class="nav-item">
            <%= link_to "ユーザー設定","#section5",class: "nav-link", data: { toggle: "tab" } %>
          </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render "user/users/top" %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render "user/users/recipe" %>
          </div>
          <div id="section4" class="tab-pane fade">
            <%= render "user/users/like" %>
          </div>
          <div id="section5" class="tab-pane fade">
            <%= render "user/users/edit",user: @user %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>