<!DOCTYPE html>
<html>
  <head>
    <title>CookPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6726daaf8d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 d-flex flex-column text-center" style="background-color: #ebe1a9;">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-10" style="background-color: #f8f4e6;">
            <%= yield %>
        </div>
      </div>
    </div>
    <footer>

    </footer>
  </body>
</html>


